.container {
    height: 100vh;
    width: calc(100vh * 9 / 16);
    max-width: 600px; /* 최대 너비 제한 */
    margin: 0 auto; /* 수평 중앙 정렬 */
    background-color: #474242; /* 배경색 설정 */
    display: flex;
    flex-direction: column;
}

.footer {
    bottom: 0;
    width: 100%; /* 부모 컨테이너의 너비와 일치 */
    background-color: #cac7c7;
    text-align: center;
}

@media (orientation: landscape) {
    .container {
        width: 100vw; /* 랜드스케이프 모드에서 너비 조정 */
    }
}